.project1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.box    {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: rgba(0,0,0,75);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box::after{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent,blueviolet);
    animation: animate 4s linear infinite;
    animation-delay: -2s;

}
.box::before{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent,rgba(57, 0, 159, 1));
    animation: animate 4s linear infinite;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box span{
    position: absolute;
    inset: 5px;
    border-radius: 16px;
    background: rgba(0,0,0,75);
    z-index: 1;
}
.box h2{
    font-size: 5em;
    position: relative;
    z-index: 2;
    color: blueviolet;
}
.box img{
    z-index: 2;
}